.box {
  width: 10px;
  height: 10px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
  float: left;
}


.legend_item {
  height: 20px;
  vertical-align: middle;
}

.legend_label {
  line-height:20px;
  float: left
}

.left_column {
  float: left;
}

.right_column {
  float: right;
}

.legend {
  height:100vh !important;
  text-align: center;
}


#map {
  height:100vh !important;
}

#legend_law {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}
